html {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
max-width: 100%;
}

@font-face {
    font-family: 'Montserrat';
    src: local('MontserratRegular'), 
    url(../fonts/Montserrat-ExtraLight.woff2) format(woff2),
    url(../fonts/Montserrat-ExtraLight.woff) format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('MontserratRegular'), 
    url(../fonts/Montserrat-Light.woff2) format(woff2),
    url(../fonts/Montserrat-Light.woff) format(woff);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('MontserratRegular'), 
    url(../fonts/Montserrat-SemiBold.woff2) format(woff2),
    url(../fonts/Montserrat-SemiBold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('MontserratRegular'), 
    url(../fonts/Montserrat-ExtraBold.woff2) format(woff2),
    url(../fonts/Montserrat-ExtraBold.woff) format(woff);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 1920px;
    font-family: 'MontserratRegular',sans-serif ;
}

/*glob*/
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.conteiner {
    width: 1920px;
    padding-left: 75px;
    padding-right: 75px;
    margin: 0 auto; 
}


h1 {
    padding-top: 100px;
    max-width: 837px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
}


h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}


h3 {
    margin-top: 65px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;  
}

/*heeader*/

.header-conteiner {
    height: 100px;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
}

.header-logo {
    padding-top: 14px;
    padding-bottom: 27px;
}

.header-nav {
   flex-grow: 2;
   padding-left: 554px;
   padding-top: 39px;
   padding-right: 260px;
   padding-bottom: 39px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   color: black;
}

.header-nav-list-item {
    padding-right: 42px;
    padding-left: 42px;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.header-nav-list-item:first-child {
    padding-left: 0;
}


.header-nav-list-item:last-child {
    padding-right: 0;
}


.header-nav-list-link:hover {
    border-bottom: 2px solid #FF9900;
}


.header-nav-list-link:focus {
    border: 2px solid #FF9900;
}


.header-nav-list-link:active {
    color: #E1670E;
    border-bottom: 2px solid #FF9900;
}

.header-nav-search {
    padding-top: 38px;
    padding-bottom: 40px;
    transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}


.header-nav-search-icon:hover {
    stroke: #FF9900;
    fill: #FF9900;
}

.header-nav-search-focus:focus {
    border: 2px solid #FF9900;
}




/*main*/

/*section-calculation*/

.section-calculation {
    height: 620px;
    max-width: 1770px;
    background-image:url(../img/section-calculation-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 50px;
    border-radius: 32px;
}

.section-calculation-text {
    flex-direction: column;
    color: #FFFFFF;
}


.section-calculation-descr {
    max-width: 790px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
}

.section-calculation-btn {
    margin-top: 90px;
    max-width: 280px;
    height: 78px;
    align-items: center;
    padding-top:25px;
    padding-left:39px;
    padding-right:39px;
    background: #FF9900;
    border-radius: 16px;
    text-align: center;
    transition: background-color 0.3s ease-in-out ;
}

.section-calculation-btn-text {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
}

.section-calculation-btn:hover {
    background: #FFB84D;
}

.section-calculation-btn:active {
    background: #E1670E;
}



/*section-about-us*/

.section-about-us {
    padding-left: 75px;
    padding-top: 50px;
    padding-right: 610px;
}

.about-us-text {
    max-width: 1235px;
    height: 192px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}


.about-us-list {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;
    padding: 0;
    margin-top: 50px;
}


.about-us-item-one {
    background: url(../img/work-about-us.jpg);
    background-repeat: no-repeat;
    border-radius: 32px;
    max-width: 868px;
    height: 622px;
}


.about-us-item-darken {
    width: 868px;
    height: 196px;
    margin-top: 426px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    color: #FFFFFF;
}


.about-us-item-darken-text {
    max-width: 473px;
    min-height: 96px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    
}

.about-us-darken-btn {
    margin-top: 78px;
    margin-left: 161px;
    width: 175px;
    height: 60px;
    border: 5px solid #FF9900;
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out ;
}


.about-us-darken-btn:hover {
    background: #FFB84D;
    border: none;
}

.about-us-darken-btn:active {
    background: #E1670E;
    border: none;
}


.about-us-item-two {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 32px;
    color: #000000;
}


.about-us-item-two-desc {
    width: 870px;
    height: 295px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 32px;
    flex-wrap: nowrap;  
}


.about-us-item-two-desc:not(:first-child) {
    margin-top: 32px;
}


.about-us-item-two-desc-icon {
    padding-top: 70px;
    padding-left: 60px;
}


.about-us-item-two-desc-text {
    margin-left: 50px;
}



.about-us-item-two-desc-text-p {
    width: 450px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}


/*section work*/


.title-work {
    margin-top: 100px;
}


.work-list {
    justify-content: space-between;
    max-width: 450px;
    margin-bottom: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}


.work-content {
   justify-content: space-between;
   align-items: start;
}


.work-desc {
    flex-direction: column;
    color: #000000;
}

.worc-desc-h3 {
margin: 0;
}

.work-list {
transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.work-list-link:hover {
    color: #FF9900;
}

.work-list-link:focus {
    color: #000000;
    border: 2px solid #FF9900;
}

.work-list-link:active {
    color: #E1670E;
}


.work-text {
    max-width: 758px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}


.work-img {
    background: url(../img/work-img.jpg);
    display: block;
    width: 870px;
    height: 460px;
    border-radius: 32px;
}


.work-btn-one {
   align-items: center;
   padding: 19px 38px;
   width: 175px;
   height: 60px;
   margin-right: 25px;
   background: #FF9900;
   border-radius: 16px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: #FFFFFF;
   transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out ;
}

.work-btn-one:hover {
    background: #FFB84D;
    border: none;
}

.work-btn-one:active {
    background: #E1670E;
    border: none;
}


.work-btn-two {
    align-items: center;
    padding: 19px 38px;
    width: 175px;
    height: 60px;
    border-radius: 16px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    transition: background-color 0.3s ease-in-out,color 0.3s ease-in-out, border 0.3s ease-in-out ;
}


.work-btn-two:hover {
    color: #FFFFFF;
    background: #666666;
    border: none;
}

.work-btn-two:active {
    color: #FFFFFF;
    background: #000000;
    border: none;
}


/*section FAQ*/


.FAQ {
    flex-direction: column;
    flex-wrap: wrap;
}

.FAQ-h2 {
    margin-top: 111px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.FAQ-desc {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.FAQ-list {
    flex-direction: column;
    flex-wrap: nowrap;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, fill 0.3s ease-in-out;
}


.FAQ-list-item {
    justify-content: space-between;
    align-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}


.FAQ-list-line {
    border-top: 1px solid #CACACA;
}


.FAQ-list-line:last-child {
    border-bottom: 1px solid #CACACA;
}


.FAQ-list-text {
    margin-top: 39px;
    margin-bottom: 39px;
    transition: color 0.3s ease-in-out;
}


.FAQ-list-icon {
    margin-top: 39px;
    margin-bottom: 39px;
}

.FAQ-list-icon:hover {
    fill: #FF9900;
}


.FAQ-list-item:hover {
    color:#FF9900;
    border-top: 1px solid #FF9900;
    border-bottom: 1px solid #FF9900;
}

.FAQ-list-item:active {
    color:#000000;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
}


/*footer*/

.footer {
    margin-top: 100px;
    justify-content: space-between;
    min-height: 594px;
    background: #000000;
}

.footer-nav {
    flex-direction: column;
}


.footer-nav-logo {
padding-top: 76px;
}


.footer-nav-manu-list{
    flex-direction: column;
    min-width: 252px;
    margin-top: 20px;
}


.footer-nav-menu-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
    transition: color 0.3s ease-in-out,border 0.3s ease-in-out;
}


.footer-nav-menu-item:hover {
    color:#FF9900;
} 

.footer-nav-menu-item:focus {
    color:#CACACA;
    border: 2px solid #FF9900;
}

.footer-nav-menu-item:active {
    color:#E1670E;
} 


.footer-nav-menu-item-text {
    margin: 0;
}

.social-networks-list {
    align-content: flex-start;
    padding-left: 0;
    transition: fill 0.3s ease-in-out;
}

.social-networks-list-item {
    padding-right: 20px;
    margin-top: 50px;
}


.social-networks-list-item:hover {
    fill:#FF9900;
}


.footer-form {
    flex-direction: column;
    margin-left: 377px;
}


.footer-form-h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA; 

}

.footer-form-content {
    flex-direction: column;
    transition:  background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.footer-form-style {
    background-color: #414141;
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    width: 570px;
    height: 60px;
    border: 0;
    text-indent:20px;
    margin-top: 25px;
    outline:none;
}


.footer-form-style:first-child {
    margin-top: 0px;
}



.footer-form-style-message {
    width: 570px;
    height: 150px;
    padding-top: 14px;
    background-color: #414141;
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    border: 0;
    text-indent:20px;
    margin-top: 25px;
    outline:none;
}


.footer-form-Style-btn {
    width: 269px;
    height: 58px;
    margin-top: 25px;
    margin-left: 137px;
    background: #FF9900;
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    transition: background-color 0.3s ease-in-out;
}


.footer-text {
    margin-left: 236px;
    padding-top: 134px;
}

.footer-text-style {
    width: 363px;
    height: 320px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}


.footer-form-Style-btn:hover  {
    background-color:#FFB84D;
}


.footer-form-Style-btn:focus  {
    background-color:#FFB84D;
}


.footer-form-Style-btn:active  {
    background-color:#E1670E;
}


.footer-form-style:hover  {
    background-color:#666666;
}


.footer-form-style:focus  {
    background-color:#666666;
}


.footer-form-style:active  {
    background-color: #666666;
    color:#FFFFFF;
}

.footer-form-style-message:hover  {
    background-color:#666666;
}


.footer-form-style-message:focus  {
    background-color:#666666;
}


.footer-form-style-message:active  {
    background-color: #666666;
    color:#FFFFFF;
}